@model IEnumerable<ProductDto> ;
<div class="container  p-4 border">
<div class="row pb-2">
    <div class="col">
        <h1 class="text-info">Product</h1>
    </div>
    <div class="col">
        <div class="text-end">
            <a asp-action="Create" class="btn-outline-info">Create</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
        <th>Name</th>
        <th>Category Name</th>
        <th>Price</th>
        </tr>
        </thead>              
            @foreach (var item in @Model)
            {
            <tr>                
                <td> @item.Name </td>
                <td> @item.CategoryName </td>
                <td> @item.Price </td>
             </tr>
            }
        
    </table>
</div>
</div>